#densityChart {
  margin-bottom: 40px;
}

#employees_list {
  padding: 0;
}

#employees_list li {
  margin-bottom: 30px;
  list-style-type: none;
}

#employees_list li::marker {
  content: '';
}

#employees_list li:first-child {
  margin-top: 30px;
}

#employees_list li img {
  width: 10%;
  margin-right: 30px;
}

#employees_list li span {
  font-size: 24px;
  color: #000;
}

.slider {
  position: relative;
  margin-left: 20px;
}

.slider__container {
  padding-right: 0;
  padding-left: 0;
  overflow: hidden;
}

.slider__items {
  display: flex;
  transition: transform 0.5s ease;
}

.slider__item {
  position: relative;
  flex: 0 0 100%;
  max-width: 100%;
  height: 500px;
  margin-top: 40px;
  user-select: none;
}

.slider__control {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 50px;
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
  transform: translateY(-50%);
}

.slider__control[data-slide='prev'] {
  left: 0;
}

.slider__control[data-slide='next'] {
  right: 0;
}

.slider__control::before {
  width: 20px;
  height: 20px;
  content: '';
}

.slider__control[data-slide='prev']::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control[data-slide='next']::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 600px;
}

.info {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 5px 20px;
  font-size: 14px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
}

.title {
  position: absolute;
  bottom: 10px;
  display: block;
  padding: 15px 40px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  background-color: rgba(255, 255, 255, 0.7);
}

.price-list {
  padding-bottom: 56px;

  &__title {
    max-width: 677px;
    font-size: 28px;
    line-height: 1.36;
    color: #000;
  }

  &__search {
    margin-top: 32px;
  }

  &__result {
    margin-top: 24px;
  }

  /* stylelint-disable no-descending-specificity */
  &__ajax-fail {
    font-size: 14px;
    line-height: 16px;
    color: #000;

    p {
      margin-top: 8px;
      margin-bottom: 0;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__no-items {
    font-size: 14px;
    line-height: 16px;
    color: #000;

    p {
      margin-top: 8px;
      margin-bottom: 0;

      &:first-child {
        margin-top: 0;
      }
    }

    a {
      color: #376ee3;
      text-decoration: none;

      @include media-has-mouse {
        &:hover {
          opacity: 0.8;
        }
      }

      &:active {
        opacity: 0.8;
      }
    }
  }

  &__preloader-wrap {
    margin-top: 25px;
    text-align: center;
  }

  &__preloader {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 28px 28px;
  }
}
